---
name: Auto merge pull requests

"on":
  pull_request:
    types:
      - labeled
      - opened
      - synchronize
      - reopened
      - ready_for_review

jobs:
  automerge:
    runs-on: ubuntu-latest
    steps:
      - name: Merge pull request
        uses: actions/github-script@v7
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          script: |
            const { owner, repo } = context.repo;
            const pull_number = context.payload.pull_request.number;
            const pr = await github.rest.pulls.get({ owner, repo, pull_number });
            if (pr.data.mergeable_state !== 'clean' || pr.data.draft) {
              core.setFailed(
                `Not mergeable: state=${pr.data.mergeable_state}, ` +
                `draft=${pr.data.draft}`
              );
              return;
            }
            const status = await github.rest.repos.getCombinedStatusForRef({
              owner,
              repo,
              ref: pr.data.head.sha
            });
            if (status.data.total_count > 0 && status.data.state !== 'success') {
              core.setFailed(`Checks are ${status.data.state}`);
              return;
            }
            await github.rest.pulls.merge({
              owner,
              repo,
              pull_number,
              merge_method: 'squash'
            });
